@model List<Cua_Hang_Thu_Cung.Models.tblDanhMucCha>
@{
    var dmuccho = ViewBag.ListDmucCho;
    var dmucmeo = ViewBag.ListDmucMeo;
}

<div class="container">
    <!-- Start Header Navigation -->
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/trang-chu"><img src="~/Images/Icon/Mighty_Dog_Roofing_Logo.jpg" class="logo" alt=""></a>
    </div>
    <!-- End Header Navigation -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="nav-item active"><a class="nav-link" href="/trang-chu">Trang chủ</a></li>
            <li class="nav-item"><a class="nav-link" href="/bai-viet">Bài viết</a></li>
            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Chó</a>
                <ul class="dropdown-menu">
                    @foreach (var item in dmuccho)
                    {
                        <li><a href="/danh-muc/@item.meta_name-@item.id_danhmuc_cha">@item.ten_danhmuc_cha</a></li>
                    }
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Mèo</a>
                <ul class="dropdown-menu">
                    @foreach (var item in dmucmeo)
                    {
                        <li><a href="/danh-muc/@item.meta_name-@item.id_danhmuc_cha">@item.ten_danhmuc_cha</a></li>
                    }
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="/thuong-hieu">Thương hiệu</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- Start Atribute Navigation -->
    <div class="attr-nav">
        <ul>
            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
            <li class="side-menu">
                <a href="#">
                    <i class="fa fa-shopping-bag"></i>
                    <span class="badge">0</span>
                    <p>Giỏ hàng</p>
                </a>
            </li>
        </ul>
    </div>
    <!-- End Atribute Navigation -->
</div>